*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-div{
  width: 100%;
  height: 70px;
  background-color: #474f49;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
}
.navigation-button1{
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navigation-button2{
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sort-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.search{
  margin-left: 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: aqua;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 7px;
}
.filter-div{
  width: 400px;
  height: 50px;
  background-color: #373b38;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  border: 1px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
}
.filter-input{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;background-color: #0a7069;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.filter-input::placeholder{
  color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.filterSearch-div{
  margin-top: 10px;
}
.search-btn{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4.5px;
  padding-bottom: 7px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0a8a3d;
  border: 1px solid transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.main-section{
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.devider{
  width: 300px;
  height: 2.5px;
  background-color: #0a8a3d;
  margin: 0 auto;
  margin-top: 70px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.card-div{
  width: 250px;
  height: auto;
  background-color: aliceblue;
  box-shadow: 0 0 7px #3d3b35;
  border: 1px solid transparent;
  border-radius: 10px;
  padding-bottom: 10px;
}
.image-div{
  width: 250px;
  height: 150px;
}
.images{
  width: 250px;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
}
.card-title, .card-desc{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.information-div{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.card-btn{
  color: white;
  background-color: #0a8a3d;
  text-align: center;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 10px;
  transition: 0.3s;
}
.learnBtn-div{
  width: 110px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid transparent;
}
.card-btn:hover{
  background-color: #373b38;
}
.date{
  color: #474f49;
}
.name{
  color: #0a8a3d;
}